* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: #9693A5;
}

body {
    background-color: #8685EF;
}

h1{
    text-align: center;
    font-size: 36px;
    margin-bottom: 50px;
}

form{
    padding: 50px;
    margin: auto;
    max-width: 650px;
}

.container {
    padding: 50px;
    border: 1px #FAF8FF solid;
    background-color: #FAF8FF;
    border-radius: 12px;
    box-shadow: 20px 20px 4px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.container p {
    font-size: 18px;
    font-weight: 600;
    text-align: left;
}

.question{
    margin: 0 0 15px 0;
    text-align: left;
}

.question .option{
    margin: 10px;
}

.age{
    display: block;
    text-align: left;
}

.age input{
    margin-top: 10px;
    border: 1px #8685EF solid;
    border-radius: 4px;
    height: 25px;
    width: 145px;
}

.range{
    width: 100%;
}

.range input{
    margin: 15px 0;
}

input[type="submit"]{
    background-color: #8685EF;
    color: #FAF8FF;
    padding: 10px 20px;
    width: 145px;
    border: none;
    border-radius: 4px;
    margin: auto;
    cursor: pointer;
}